PORT=8000

MONGODB_URI = mongodb+srv://vaishnavi:Vaish123@cluster0.dqbmc.mongodb.net

// https://cloud.mongodb.com/v2/66b089fe452b1d622c412367#/overview

CORS_ORIGIN=*

ACCESS_TOKEN_SECRET = chai-aur-code

ACCESS_TOKEN_EXPIRY = 1d # one day

REFRESH_TOKEN_SECRET = chai-aur-backend

REFRESH_TOKEN_EXPIRY = 10d

CLOUDINARY_CLOUD_NAME = dofiqckgx
CLOUDINARY_API_KEY = 511243546628499
CLOUDINARY_API_SECRET = RlOGFD4cS8VAsEO2Btw45oBWTpk